# =========================================
# Python
# =========================================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================================
# Virtual Environments
# =========================================
venv/
env/
.venv/
vision_proj/

# =========================================
# Jupyter
# =========================================
.ipynb_checkpoints/

# =========================================
# VS Code
# =========================================
.vscode/

# =========================================
# Model Weights
# =========================================
*.pt
*.pth
*.onnx

# =========================================
# Outputs
# =========================================
outputs/
*.jpg
*.png

# =========================================
# Dataset Files
# =========================================
data/

# =========================================
# Logs
# =========================================
*.log

# =========================================
# WandB
# =========================================
wandb/

# =========================================
# System Files
# =========================================
.DS_Store
Thumbs.db