__pycache__/
*.pyc

.ipynb_checkpoints/

data/raw/
data/processed/
outputs/

datasets/flir/images_thermal_train/
datasets/flir/images_thermal_val/
datasets/flir/images_thermal_test/
datasets/flir/video_thermal_test/

.env